/* task.component.css */
div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  .completed {
    text-decoration: line-through;
  }
  .due-date {
    margin-left: 10px;
    color: #3498db;
    font-size: 14px;
  }
  