<!-- task.component.html -->
<div>
    <input type="checkbox" [checked]="task?.completed" (change)="toggleCompleted()" />
    <span [class.completed]="task?.completed">{{ task?.title }}</span>
    <span class="due-date" *ngIf="task?.dueDate">Due: {{ task?.dueDate | date:'short' }}</span>
    <span class="category" *ngIf="task?.category">Category: {{ task?.category }}</span>
    <button (click)="removeTask()">Remove</button>
  </div>
  