<!-- task-list.component.html -->
<div class="task-list-container">
    <h2>Task List</h2>
    <div *ngFor="let task of tasks$ | async">
      <app-task [task]="task" (removeTaskEvent)="removeTask($event)"></app-task>
    </div>
    <div class="task-list-actions">
      <div class="task-count">
        {{ (tasks$ | async)?.length }} tasks, {{ (completedTasks$ | async)?.length }} completed
      </div>
      <div class="clear-completed">
        <button (click)="clearCompletedTasks()">Clear Completed</button>
      </div>
    </div>
    <div class="add-task">
      <input #newTaskTitle type="text" placeholder="New task title" />
      <input #newTaskCategory type="text" placeholder="Category" />
    </div>
    <button class="add-button" (click)="addTask(newTaskTitle.value, newTaskCategory.value)">Add Task</button>
    </div>
  
   

  