/* task-list.component.css */
.task-list-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .task-list-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .task-count {
    font-size: 14px;
  }
  
  .clear-completed button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .clear-completed button:hover {
    background-color: #c0392b;
  }
  
  .add-task {
    margin-top: 15px;
  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .input-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  /*.add-task input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }*/
  
  .add-button {
    margin-top: 5px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #2980b9;
  }